extends layout 
 
block content 
  h1= title 
 
  form(id='animalForm', action="/resource/animal", method="POST") 
    div.form-group 
        label.animalAttr(for='ctype') CType 
        input#ctype(type='text', name='ctype') 
    div.form-group 
        label.animalAttr(for='cnum') CNum 
        input#cnum(type='number', name='cnum') 
    div.form-group 
        label.animalAttr(for='location') Location 
        input#location(type='text', name='location') 
    input(type="submit") 
 
  script. 
    document.forms['animalForm'].addEventListener('submit', (event) => { 
      event.preventDefault(); 
      fetch(event.target.action, { 
        method: 'POST', 
        body: new URLSearchParams(new FormData(event.target)) 
      }).then((resp) => { 
        return resp.json(); // or resp.text() or whatever the server sends 
      }).then((body) => { 
        alert("Save succeded") 
        // TODO handle body 
      }).catch((error) => { 
        // TODO handle error 
        alert("Save failed " + error ) 
      }); 
    }); 